{% extends 'blog/skeleton.html' %}

{% block content %} 

{% load static %}
<main class="main pt-4">

  <div class="container">

    <div class="row">
      <div class="col-md-9">

        <article class="card mb-4">
          <header class="card-header text-center">
            <div class="card-meta">
              <a href=""><time class="timeago" datetime="{{ post.created_at|date }}">{{ post.created_at|date }}</time></a> in <a href="page-category.html">{{ post.get_category_display }}</a>
            </div>
            <a href="">
              <h1 class="card-title">{{ post.title }}</h1>
            </a>
          </header>
          <div class="row">
            <a href=""><img class="intro-block active" src="{{ post.cover_img }}" alt="" /></a>
          </div>
          <div class="card-body"> {{ post.content|safe }}</div>
        </article><!-- /.card -->

      </div>
      <div class="col-md-3 ms-auto">

        <aside class="sidebar">
          <div class="card mb-4">
            <div class="card-body">
              <h4 class="card-title">About Shishi Style</h4>
              <p class="card-text">Never try, never know.</p>
              <p class="card-text">The world through my eyes and lens.</p>
              <p class="card-text">Embark on a journey of discovery with The Shishi Style where wanderlust meets insightful exploration. Join us as we uncover hidden gems, sharing travel tips, and make travel easier for you. From breathtaking views to diverse cultures, our blog is your passport to a world of travel recommendations and unforgettable experiences. Come explore with us!</p>
            </div>
          </div><!-- /.card -->
        </aside>

        <aside class="sidebar sidebar-sticky">
          <div class="card mb-4">
            <div class="card-body">
              <h4 class="card-title">Tags</h4>
              <a class="btn btn-light btn-sm mb-1" href="page-category.html">{{ post.get_category_display }}</a>
            </div>
          </div><!-- /.card -->
        </aside>
      </div>
    </div>
  </div>

</main>


{% endblock %}

